body {
    background-color: #A0AECD;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.home_container {
    display: flex;
    flex-direction: column;
}
.home_container h1 {
    font-size: 70px;
}
.home_container p {
    font-size: 20px;
    margin-top: -35px;
    margin-left: 60px;
    cursor: pointer;
}
.home_container a:link {
    text-decoration: none;
}
.form_container {
    width: 500px;
    height: 100px;
    z-index: 2;
    box-shadow: 0px 3px 14px rgb(0 0 0 / 20%);
    padding: 30px;
}
#sign_container {
    width: 100%;
    height: 60px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sign_container h1 {
    cursor: pointer;
}
#line1 {
    background-color: #000;
    height: 60px;
    width: 2px;
}
#underline {
    margin-top: 20px;
    background: linear-gradient(to right, #000 51%, #A0AECD 50%);
    height: 3px;
    width: 100%;
}
#form {
    display: block;
}
#form2 {
    display: none;
}